body {
    font-family: 'Lato', sans-serif; 
 }
 * {
     text-decoration : none;
     margin: 0;
     padding : 0;
     list-style-type: none;
     font-family: 'Lato', sans-serif;
 }
 #facebook {
     width: 100%;
 }
 .header-right-one:hover {
     background-color: #E4E6E9;
     border-radius: 45px;
 }
 #header {
     width: 100%;
     display: block;
     z-index: 10000;
     position: fixed;
     top: 0;
     background-color: white;
 }
 #header-facebook {
     width: 100%;
     display: flex;
     padding: 0.3em 1em;
 }
 .header-left {
     width: 25%;
     display: flex;
     margin-left: 10px;
 }
 #logo-facebook {
     margin-top: 9px;
     width: 40px;
     height: 40px;
 }
 .header-center {
     width: 50%;
 }
 .wrapper {
     width: 75%;
     margin: auto;
 }
 .wrapper ul {
     width: 100%;
     display: flex;
 }
 .wrapper ul li {
     width: 20%;
     text-align: center;
     padding: 0.5em 0em;
 }
 .wrapper ul li:nth-child(1) {
     border-bottom: 4px solid #1877f2;
 }
 .list-icon-header li:nth-child(1) {
     fill: blue;
 }
 .header-right {
     width: 25%;
     padding-left: 2em;
     display: flex;
 }
 .header-right-one {
     width: 30%;
     display: flex;
     padding: 5px 10px;
     margin: 5px 0px;
 }
 #header-right-one-1 {
     margin-right: 9px;
 }
 #header-right-one-1 a img {
     width: 30px;
     height: 30px;
     border-radius: 50%;
 }
 #header-right-one-2 {
     padding: 5px 0px;
 }
 .header-right-two {
     width: 70%;
     padding-right: 1.5em;
 }
 .header-right-two ul {
     display: flex;
 }
 .header-right-two ul li {
     width: 20%;
     padding: 0.5% 0px;
     background-color: #d8dadf;
     border-radius: 50%;
     text-align: center;
     height: 42px;
     margin: 2%;
     cursor: pointer;
 }
 .header-right-two1 {
     padding-top: 10px;
 }
 .header-right-two1 i {
     font-size: 20px;
 }
 #header-right-one-1 a img {
     width: 30px;
     height: 30px;
     border-radius: 50%;
 }
 #search-infomation {
     width: 200px;
     padding: 13px 16px 13px;
     border-radius: 45px;
     border: none;
     background-color: #f0f2f5;
 }
 #friend-request-1 {
     width: 22%;
     overflow-x: hidden;
     overflow-y: auto;
     position: fixed;
     z-index: 100000;
     background-color: white;
     right: 35px;
     top: 61px;
     max-height: 600px;
     padding: 10px;
     display: none;
 }
 #friend-request-1::-webkit-scrollbar {
     width: 8.5px;
 }
 #friend-request-1::-webkit-scrollbar-thumb {
     border-radius: 5px;
 }
 .content-left:hover > #friend-request-1::-webkit-scrollbar-thumb {
     background: #a5a5a5;
     border-radius: 5px;
 }
 #friend-request-1::-webkit-scrollbar-track:hover {
     background: #e0e0e0;
 }
 .messenger-gui-top {
     width: 25%;
     display: flex;
     position: fixed;
     z-index: 1111;
     background-color: white;
     padding: 14px 0px 0px 0px;
 }
 .messenger-gui-bottom {
     
 width: 22%;
     
 padding-top: 19px;
     
 position: fixed;
     
 top: 79%;
     
 z-index: 100000;
     
 right: 3.5%;
     
 background-color: white;
     
 text-align: center;
     
 height: 31px;
 }
 #messenger-gui {
     width: 25%;
     overflow-x: hidden;
     overflow-y: auto;
     position: fixed;
     z-index: 100000;
     background-color: white;
     right: 15px;
     top: 60px;
     max-height: 600px;
     padding: 0px 10px 10px 10px;
     display: none;
     border: 2px solid #ccc;
     border-radius: 15px;
 }
 #messenger-gui-c {
     width: 100%;
 }
 .messenger-gui-search {
     width: 100%;
     padding: 10px 0px;
     text-align: center;
     margin-top: 3em;
 }
 .messenger-gui-search input {
     width: 97%;
     padding: 10px;
     border-radius: 20px;
     border: none;
     background-color: #F0F2F5;
 }
 #messenger-gui::-webkit-scrollbar {
     width: 8.5px;
 }
 #messenger-gui::-webkit-scrollbar-thumb {
     border-radius: 5px;
 }
 .content-left:hover > #messenger-gui::-webkit-scrollbar-thumb {
     background: #a5a5a5;
     border-radius: 5px;
 }
 #messenger-gui::-webkit-scrollbar-track:hover {
     background: #e0e0e0;
 }
 #modal-post {
     width: 100%;
     position: relative;
     display: none;
 }
 #wrapper-post {
     border: 2px solid #ccc;
     padding: 0em 1em 1em 1em;
     border-radius: 20px;
     background-color: white;
     width: 30%;
     position: fixed;
     z-index: 99999;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
 }
 .modal-header {
     width: 100%;
     text-align: center;
 }
 .modal-mode {
     width: 100%;
     display: flex;
     padding: 8px 0em;
 }
 .modal-mode-left {
     width: 13%;
 }
 .modal-mode-right {
     width: 87%;
 }
 #right-ax {
     width: 28%;
     padding: 0px 5px;
     border-radius: 30px;
     position: relative;
     background-color: #DBDCE1;
 }
 #right-ax ul {
     display: flex;
     font-size: 14px;
     position: relative;
     cursor: pointer;
 }
 #right-ax ul li {
     padding: 6px 2px;
 }
 .modal-text-post {
     width: 100%;
     margin-bottom: 10px;
 }
 #textarea-post {
     width: 90%;
     border: none;
     font-size: 20px;
     height: 150px;
     padding: 8px 1em;
 }
 .modal-footer {
     width: 100%;
 }
 #add-post {
     width: 100%;
     display: flex;
     margin-top: 10px;
 }
 .add-post-main {
     width: 49%;
 }
 .add-post-main ul {
 
 }
 .add-post-main ul li {
     width: 95%;
     padding: 12px;
     cursor: pointer;
 }
 .add-post-main ul li i {
     font-size: 20px;
 }
 .add-post-main ul li:hover {
     background-color: #DBDCE1;
     border-radius: 30px;
 }
 .button-post {
     width: 100%;
     text-align: center;
     margin: 10px 0px;
 }
 .button-post button {
     width: 98%;
     padding: 10px;
     border: none;
     border-radius: 20px;
     background-color: #1771E6;
     color: white;
     cursor: pointer;
 }
 #friend-request {
     width: 100%;
 }
 ul.list-icon-header li:hover {
    background-color: #D8DADF;
}
 .friends-request-top {
     width: 100%;
 }
 .infor-user-request {
     width: 100%;
     display: flex;
     padding: 10px 0px;
 }
 .user-request-left {
     width: 20%;
 }
 .user-request-left img {
     width: 60px;
     height: 60px;
     border-radius: 50%;
 }
 .user-request-right {
     width: 80%;
     padding-top: 9px;
     padding-left: 7px;
 }