input {
    outline: none;
}
.w-70per {
    width: 70%;
}
.w-60per {
    width: 60%;
}
.w-30per {
    width: 30%;
}
.text-55px {
    font-size: 55px;
}
.text-1877F2 {
    color: #1877F2;
}
.bg-1877F2 {
    background-color: #1877F2;
}
.w-43per {
    width: 43%;
}
.w-48per {
    width: 43%;
}
.w-96per {
    width: 96%;
}
.w-93per {
    width: 93%;
}
.w-85per {
    width: 85%;
}
.w-90per {
    width: 90%;
}
.bg-36A420 {
    background-color: #36A420;
}
.text-15px {
    font-size: 15px;
}
.text-14px {
    font-size: 14px;
}
.text-737373 {
    color: #737373;
}
.top-45per {
    top: 45%;
}
.top-50per {
    top: 50%;
}
.left-50per {
    left: 50%;
}
.transform-translate-50per {
    transform: translate(-50%,-50%);
}
.w-10per {
    width: 10%;
}
.w-25per {
    width: 25%;
}
.w-15per {
    width: 15%;
}
.border-1 {
    border-width: 1px;
}
.w-47per {
    width: 47%;
}
.w-23per {
    width: 23%;
}
